*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: times,serif;
    color: rgb(223, 58, 187);
    background-image: url("city.jpg");
}
.container{
    max-width: 90rem;
    margin: a auto;
    padding: 0px  2rem;
}
.header{
    padding: 2rem;
    margin: 1rem 0px;
    text-align: center;
    color: rgb(223, 58, 187);
}
.header > .title{
    margin-bottom: 100rem;
}
.tribute{
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 75rem;
    margin: 0px auto;
    background: white;
    color: black;
    align-items: center;
    padding: 0px 0px 0px 1rem;
}
.tribute blockquote{
    text-align: center;
    font-size: 3rem;

}
.tribute img{
    max-width: 100%;
}
.bio{
    margin: 2rem auto;
    padding: 0px 0.5rem;
    max-width: 40rem;
}
.bio > h2{
    margin-bottom: 10rem;
    font-size: 3rem;
    line-height: 1.2;
    align-items: center;
}
.bio > p{
    
    font-size:  1.2rem;
    line-height: 1.8;
}

.bio > hr{
    margin-top: 100rem;
}